.title-container {
  background-color: #673ab7;
  text-align: center;
  padding-top: 1rem;
}

.title-container > h1 {
  color: #fafafa;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}